<div class="onepagepro-mobile-header-wrap ">
  <div class="onepagepro-mobile-header onepagepro-header-background onepagepro-style-slide" id="onepagepro-mobile-header">
    <div class="onepagepro-mobile-header-container onepagepro-container">
      <div class="onepagepro-logo  onepagepro-item-pdlr">
        <div class="onepagepro-logo-inner">
          <a href="">
            <%= image_tag("logo-mobile.png", size: "150x26", alt: "Softport") %>
          </a>
        </div>
      </div>
      <div class="onepagepro-mobile-menu-right">
        <div class="onepagepro-mobile-menu"><a class="onepagepro-mm-menu-button onepagepro-mobile-menu-button onepagepro-mobile-button-hamburger" href="#onepagepro-mobile-menu"><span></span></a>
          <div class="onepagepro-mm-menu-wrap onepagepro-navigation-font" id="onepagepro-mobile-menu" data-slide="right">
            <ul id="menu-main-menu" class="m-menu">
              <li class="menu-item "><a href="#home">Home</a></li>
              <li class="menu-item "><a href="#services">Services</a></li>
              <li class="menu-item "><a href="#works">Works</a></li>
              <li class="menu-item "><a href="#about">About</a></li>
              <li class="menu-item "><a href="#news">News</a></li>
              <li class="menu-item "><a href="#contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="onepagepro-body-outer-wrapper ">
  <div class="onepagepro-body-wrapper clearfix  onepagepro-with-transparent-header onepagepro-with-frame">
    <div class="onepagepro-header-background-transparent">
      <header class="onepagepro-header-wrap onepagepro-header-style-plain  onepagepro-style-menu-right onepagepro-sticky-navigation onepagepro-style-slide" data-navigation-offset="75px">
        <div class="onepagepro-header-background"></div>
        <div class="onepagepro-header-container  onepagepro-container">
          <div class="onepagepro-header-container-inner clearfix">
            <div class="onepagepro-logo  onepagepro-item-pdlr">
              <div class="onepagepro-logo-inner">
                <a href="">
                  <%= image_tag("logo.png", size: "198x31", alt: "Softport") %>
                </a>
              </div>
            </div>
            <div class="onepagepro-navigation onepagepro-item-pdlr clearfix onepagepro-navigation-submenu-indicator ">
              <div class="onepagepro-main-menu" id="onepagepro-main-menu">
                <ul id="menu-main-menu-1" class="sf-menu">
                  <li class="menu-item  onepagepro-normal-menu"><a href="#home">Home</a></li>
                  <li class="menu-item  onepagepro-normal-menu"><a href="#services">Services</a></li>
                  <li class="menu-item  onepagepro-normal-menu"><a href="#works">Works</a></li>
                  <li class="menu-item  onepagepro-normal-menu"><a href="#about">About</a></li>
                  <li class="menu-item  onepagepro-normal-menu"><a href="#news">News</a></li>
                  <li class="menu-item  onepagepro-normal-menu"><a href="#contact">Contact</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </header>
    </div>
    <div class="onepagepro-page-wrapper" id="onepagepro-page-wrapper">
      <div class="gdlr-core-page-builder-body">
        <div class="gdlr-core-pbf-wrapper " style="padding: 0px 0px 0px 0px;" id="home">
          <div class="gdlr-core-pbf-background-wrap" style="background-color: #383838 ;"></div>
          <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
            <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-pbf-wrapper-full-no-space">
              <div class="gdlr-core-pbf-element">
                <div class="gdlr-core-revolution-slider-item gdlr-core-item-pdlr gdlr-core-item-pdb " style="padding-bottom: 0px;">
                  <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-source="gallery" style="margin:0px auto;background:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
                    <div id="rev_slider_1_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.5.1">
                      <ul>
                        <li data-index="rs-1" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="assets/slider-1-100x50.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description=""><%= image_tag("slider-1.jpg", size: "1800x892", alt: "Softport", title: "slider-1", 'data-bgposition' => "center center", 'data-bgfit' => "cover", 'data-bgrepeat' => "no-repeat", 'data-bgparallax' => "off", class: "rev-slidebg", 'data-no-retina'=> true) %>
                        <div class="tp-caption   tp-resizeme rs-parallaxlevel-2" id="slide-1-layer-4" data-x="-247" data-y="159" data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-type="image" data-responsive_offset="on" data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6;"><%= image_tag("slider-1-3.png", size: "658x648", alt: "Softport", data: {:'ww'=>"658px", :'data-hh'=>"648px", :'data-no-retina'=> true}) %></div>
                          <div class="tp-caption   tp-resizeme" id="slide-1-layer-5" data-x="452" data-y="center" data-voffset="-86" data-width="['auto']" data-height="['auto']" data-type="text" data-responsive_offset="on" data-frames='[{"delay":200,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 7; white-space: nowrap; font-size: 80px; line-height: 80px; font-weight: 700; color: #ffffff; letter-spacing: 0px;font-family:Montserrat;">We Are</div>
                          <div class="tp-caption   tp-resizeme rs-parallaxlevel-1" id="slide-1-layer-6" data-x="539" data-y="center" data-voffset="-22" data-width="['auto']" data-height="['auto']" data-type="text" data-responsive_offset="on" data-frames='[{"delay":500,"speed":1500,"frame":"0","from":"x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 8; white-space: nowrap; font-size: 183px; line-height: 220px; font-weight: 700; color: #2ab2da; letter-spacing: 0px;font-family:Montserrat;background:-webkit-linear-gradient(#2a8eda, #2abbda);-webkit-background-clip:text;-webkit-text-fill-color:transparent;">Softport</div>
                          <div class="tp-caption   tp-resizeme" id="slide-1-layer-7" data-x="454" data-y="center" data-voffset="156" data-width="['801']" data-height="['auto']" data-type="text" data-responsive_offset="on" data-frames='[{"delay":700,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 9; min-width: 801px; max-width: 801px; white-space: normal; font-size: 19px; line-height: 29px; font-weight: 400; color: #ffd3d3; letter-spacing: 0px;font-family:Open Sans;">Welcome to SoftPort, your trusted partner for cutting-edge software solutions. We specialize in crafting innovative and tailored software solutions to transform businesses and drive digital success. With a team of highly skilled experts, we strive to deliver top-notch software development services that empower your company to thrive in today's competitive digital landscape.</div>
                          <div class="tp-caption rev-btn rev-hiddenicon " id="slide-1-layer-9" data-x="454" data-y="center" data-voffset="261" data-width="['auto']" data-height="['auto']" data-type="button" data-responsive_offset="on" data-frames='[{"delay":930,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(42,165,218);bg:rgba(255,255,255,1);bs:solid;bw:0 0 0 0;br:30px 30px 30px 30px;"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[21,21,21,21]" data-paddingright="[38,38,38,38]" data-paddingbottom="[21,21,21,21]" data-paddingleft="[38,38,38,38]" style="z-index: 10; white-space: nowrap; font-size: 16px; line-height: 17px; font-weight: 700; color: rgba(255,255,255,1); letter-spacing: px;font-family:Montserrat;background-color:rgb(42,165,218);border-color:rgba(0,0,0,1);border-radius:32px 32px 32px 32px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">Learn More</div>
                        </li>
                        <li data-index="rs-2" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="assets/slider-2-100x50.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description=""> <%= image_tag("slider-2.jpg", class: "rev-slidebg", size: "1800x892", alt: "Softport", title: "slider-1", data: {bgposition: "center center", bgfit: "cover", bgrepeat: "no-repeat", bgparallax: "off", :'no-retina' => true}) %>
                          <div class="tp-caption   tp-resizeme rs-parallaxlevel-2" id="slide-2-layer-4" data-x="690" data-y="131" data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-type="image" data-responsive_offset="on" data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5;"><%= image_tag("slider-2-1.png", size: "658x648", alt: "Softport", data: {ww: "658px", hh: "648px", :'no-retina' => true  } ) %>

                          </div>
                          <div class="tp-caption   tp-resizeme rs-parallaxlevel-1" id="slide-2-layer-6" data-x="37" data-y="center" data-voffset="-40" data-width="['auto']" data-height="['auto']" data-type="text" data-responsive_offset="on" data-frames='[{"delay":170,"speed":1500,"frame":"0","from":"x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6; white-space: nowrap; font-size: 183px; line-height: 220px; font-weight: 700; color: #2ab2da; letter-spacing: 0px;font-family:Montserrat;background:-webkit-linear-gradient(#2a8eda, #2abbda);-webkit-background-clip:text;-webkit-text-fill-color:transparent;">Project</div>
                          <div class="tp-caption   tp-resizeme" id="slide-2-layer-5" data-x="39" data-y="center" data-voffset="-115" data-width="['auto']" data-height="['auto']" data-type="text" data-responsive_offset="on" data-frames='[{"delay":460,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 7; white-space: nowrap; font-size: 80px; line-height: 80px; font-weight: 700; color: #ffffff; letter-spacing: 0px;font-family:Montserrat;">Let us build your</div>
                          <div class="tp-caption   tp-resizeme" id="slide-2-layer-7" data-x="45" data-y="center" data-voffset="118" data-width="['801']" data-height="['auto']" data-type="text" data-responsive_offset="on" data-frames='[{"delay":700,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 8; min-width: 801px; max-width: 801px; white-space: normal; font-size: 19px; line-height: 29px; font-weight: 400; color: #b2bcff; letter-spacing: 0px;font-family:Open Sans;">At SoftPort, we are committed to excellence, quality, and customer satisfaction. Explore our range of services and discover how we can help you unlock your company's true potential. Let's embark on a digital journey together and achieve remarkable results with SoftPort.</div>
                          <div class="tp-caption rev-btn rev-hiddenicon " id="slide-2-layer-9" data-x="46" data-y="center" data-voffset="225" data-width="['auto']" data-height="['auto']" data-type="button" data-responsive_offset="on" data-frames='[{"delay":930,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(42,165,218);bg:rgba(255,255,255,1);bs:solid;bw:0 0 0 0;br:30px 30px 30px 30px;"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[21,21,21,21]" data-paddingright="[38,38,38,38]" data-paddingbottom="[21,21,21,21]" data-paddingleft="[38,38,38,38]" style="z-index: 9; white-space: nowrap; font-size: 16px; line-height: 17px; font-weight: 700; color: rgba(255,255,255,1); letter-spacing: px;font-family:Montserrat;background-color:rgb(42,165,218);border-color:rgba(0,0,0,1);border-radius:32px 32px 32px 32px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">Learn More <i class="fa-icon-chevron-right"></i></div>
                        </li>
                      </ul>

                      <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="gdlr-core-pbf-wrapper " style="padding: 100px 0px 30px 0px;" id="services">
          <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
            <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
              <div class="gdlr-core-pbf-element">
                <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" style="padding-bottom: 80px;">
                  <div class="gdlr-core-title-item-title-wrap">
                    <h3 class="gdlr-core-title-item-title gdlr-core-skin-title" style="font-size: 58px;font-weight: 600;letter-spacing: 0px;text-transform: none;"><span class="gdlr-core-title-item-side-border gdlr-core-skin-divider gdlr-core-left" style="border-color: #2ab9da;"  ></span>Services</h3></div>
                  </div>
                </div>
                <div class="gdlr-core-pbf-column gdlr-core-column-30 gdlr-core-column-first">
                  <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                    <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                      <div class="gdlr-core-pbf-element">
                        <div class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-center-align gdlr-core-no-caption gdlr-core-item-pdlr" style="padding-bottom: 30px;">
                          <div class="gdlr-core-column-service-media gdlr-core-media-image" style="margin-bottom: 35px;">
                            <%= image_tag('service-icon-1.png', :alt=> "", width: "106", :height=>"97" )%>
                            </div>
                          <div class="gdlr-core-column-service-content-wrapper">
                            <div class="gdlr-core-column-service-title-wrap" style="margin-bottom: 22px;">
                              <h3 class="gdlr-core-column-service-title" style="font-size: 24px;text-transform: none;">Web Development In Ruby on Rails</h3></div>
                              <div class="gdlr-core-column-service-content" style="font-size: 16px;">
                                <p>At SoftPort, we are experts in web development using Ruby on Rails. Our team of skilled developers harnesses the power of this robust framework to build dynamic and scalable web applications. With our deep understanding of Ruby on Rails, we create customized solutions that cater to your unique business needs. From crafting seamless user experiences to implementing secure and efficient backend systems, we leverage the versatility of Ruby on Rails to deliver high-quality web development solutions that drive your business forward.</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="gdlr-core-pbf-column gdlr-core-column-30">
                    <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                      <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                        <div class="gdlr-core-pbf-element">
                          <div class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-center-align gdlr-core-no-caption gdlr-core-item-pdlr" style="padding-bottom: 30px;">
                            <div class="gdlr-core-column-service-media gdlr-core-media-image" style="margin-bottom: 40px;">
                              <%= image_tag('service-icon-2.png',  alt: "", width: "92", height: "94")%>
                            </div>
                            <div class="gdlr-core-column-service-content-wrapper">
                              <div class="gdlr-core-column-service-title-wrap" style="margin-bottom: 22px;">
                                <h3 class="gdlr-core-column-service-title" style="font-size: 24px;text-transform: none;">Web Development On React.js</h3></div>
                                <div class="gdlr-core-column-service-content" style="font-size: 16px;">
                                  <p>SoftPort specializes in web development using React.js, a cutting-edge JavaScript library for building modern user interfaces. Our talented developers utilize the power of React.js to create interactive and highly-responsive web applications. With a focus on component-based architecture and reusability, we ensure efficient development and seamless integration of features. Whether it's building a single-page application or developing complex user interfaces, our expertise in React.js enables us to deliver engaging and visually stunning web solutions that captivate your audience.</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="gdlr-core-pbf-column gdlr-core-column-30 gdlr-core-column-first">
                      <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                          <div class="gdlr-core-pbf-element">
                            <div class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-center-align gdlr-core-no-caption gdlr-core-item-pdlr" style="padding-bottom: 30px;">
                              <div class="gdlr-core-column-service-media gdlr-core-media-image" style="margin-top: 0px;margin-bottom: 35px;">
                                <%= image_tag 'service-icon-3.png',  alt: "", width:"77", height: "98" %>
                              </div>
                              <div class="gdlr-core-column-service-content-wrapper">
                                <div class="gdlr-core-column-service-title-wrap" style="margin-bottom: 22px;">
                                  <h3 class="gdlr-core-column-service-title" style="font-size: 24px;text-transform: none;">Consulting</h3></div>
                                  <div class="gdlr-core-column-service-content" style="font-size: 16px;">
                                    <p>At SoftPort, we offer comprehensive IT consulting services to guide you on your digital transformation journey. Our experienced consultants provide valuable insights and strategic advice tailored to your business needs. We work closely with you to understand your goals, identify challenges, and formulate effective solutions. From technology selection and project planning to optimization strategies and scalability assessments, our consulting services empower you to make informed decisions and achieve long-term success in the digital landscape.</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="gdlr-core-pbf-column gdlr-core-column-30">
                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                          <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                            <div class="gdlr-core-pbf-element">
                              <div class="gdlr-core-column-service-item gdlr-core-item-pdb  gdlr-core-center-align gdlr-core-no-caption gdlr-core-item-pdlr" style="padding-bottom: 30px;">
                                <div class="gdlr-core-column-service-media gdlr-core-media-image" style="margin-top: 5px;margin-bottom: 40px;">
                                  <%= image_tag("service-icon-4.png", alt: "", width: "127", height: "87")%>
                                  </div>
                                <div class="gdlr-core-column-service-content-wrapper">
                                  <div class="gdlr-core-column-service-title-wrap" style="margin-bottom: 22px;">
                                    <h3 class="gdlr-core-column-service-title" style="font-size: 24px;text-transform: none;">Backend API Development In Ruby On Rails</h3></div>
                                    <div class="gdlr-core-column-service-content" style="font-size: 16px;">
                                      <p>SoftPort specializes in backend API development using Ruby on Rails. Our experienced developers design and build robust and scalable APIs that power modern web and mobile applications. Leveraging the flexibility and simplicity of Ruby on Rails, we create efficient and secure APIs that seamlessly integrate with frontend frameworks and third-party services. Whether you need to develop APIs for your web application or create a backend system for your mobile app, our expertise in Ruby on Rails ensures reliable and high-performing backend solutions that drive your business growth.</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="gdlr-core-pbf-wrapper " style="padding: 60px 0px 50px 0px;">
                    <div class="gdlr-core-pbf-background-wrap">
                      <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js" style="background-image: url(<%= asset_path('course.jpeg')%>);background-repeat: no-repeat;background-position: center;" data-parallax-speed="0.1"></div>
                    </div>
                    <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                      <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                        <div class="gdlr-core-pbf-column gdlr-core-column-30 gdlr-core-column-first" style="padding-top: 140px">
                          <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                              <div class="gdlr-core-pbf-element">
                                <div class="gdlr-core-image-item gdlr-core-item-pdlr gdlr-core-item-pdb  gdlr-core-center-align">
                                  <div class="gdlr-core-image-item-wrap gdlr-core-media-image  gdlr-core-image-item-style-rectangle" style="border-width: 0px;">
                                    <a class="" href="https://www.youtube.com/watch?v=I1davf-bgBA" target="_blank" data-options="width: 1280, height: 720">
                                      <%= image_tag("benefits.jpg",  alt:"",  width: "1200", height: "724")%>
                                      <span class="gdlr-core-image-overlay gdlr-core-no-hover gdlr-core-transparent gdlr-core-round-icon"><i class="gdlr-core-image-overlay-icon fa fa-play gdlr-core-size-22" style="background-color: #2aaada ;"  ></i></span></a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="gdlr-core-pbf-column gdlr-core-column-30">
                          <div class="gdlr-core-pbf-column-content-margin gdlr-core-js " style="padding: 10px 40px 0px 25px;">
                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                              <div class="gdlr-core-pbf-element">
                                <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" style="padding-bottom: 5px;">
                                  <div class="gdlr-core-title-item-title-wrap">
                                    <h6 class="gdlr-core-title-item-title gdlr-core-skin-title" style="font-size: 20px;letter-spacing: 0px;text-transform: none;color: white;">Click To Watch</h6></div>
                                  </div>
                                </div>
                                <div class="gdlr-core-pbf-element">
                                  <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr">
                                    <div class="gdlr-core-title-item-title-wrap">
                                      <h3 class="gdlr-core-title-item-title gdlr-core-skin-title" style="font-size: 40px;letter-spacing: 0px;text-transform: none; color: black;">Advantages of Ruby On Rails Development</h3></div>
                                    </div>
                                  </div>
                                  <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align" style="padding-bottom: 20px;">
                                      <div class="gdlr-core-text-box-item-content" style="font-size: 16px; color:white">
                                        <p>Developing in Ruby on Rails (RoR) offers numerous advantages. With its convention over configuration approach and emphasis on the DRY principle, RoR enables rapid development by minimizing repetitive tasks and promoting code reusability. The MVC architecture enhances code organization and collaboration among developers. RoR's strong community and extensive ecosystem of gems provide ready-made solutions and support. The framework prioritizes security, scalability, and performance, while its developer-friendly syntax and continuous improvement ensure an efficient and up-to-date development experience. Overall, Ruby on Rails empowers businesses to build robust, scalable, and high-performing applications with speed and confidence.</p>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-button-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align"><a class="gdlr-core-button  gdlr-core-button-gradient gdlr-core-button-no-border" href="https://www.youtube.com/watch?v=I1davf-bgBA" target="_blank" style="padding: 15px 33px 19px 33px;border-radius: 29px;-moz-border-radius: 29px;-webkit-border-radius: 29px;background: #2aa5da ;"><span class="gdlr-core-content" >Learn More</span></a></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="gdlr-core-pbf-wrapper " style="padding: 70px 0px 56px 0px;">
                        <div class="gdlr-core-pbf-background-wrap">
                          <div class="Zsafgasfgsdf gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js" style="background-image: url(<%= asset_path('mobile-bg-1.jpg')%>); background-size: cover;background-position: center;" data-parallax-speed="0.2"></div>
                        </div>
                        <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                          <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                            <div class="gdlr-core-pbf-column gdlr-core-column-30 gdlr-core-column-first">
                              <div class="gdlr-core-pbf-column-content-margin gdlr-core-js " style="padding: 130px 0px 0px 0px;">
                                <div class="gdlr-core-pbf-background-wrap">
                                  <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js" style="background-image: url(<%= asset_path('mobile-bg-1.jpg')%>);background-repeat: no-repeat;background-position: top left;" data-parallax-speed="0"></div>
                                </div>
                                <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                  <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-image-item gdlr-core-item-pdlr gdlr-core-item-pdb  gdlr-core-left-align" style="padding-bottom: 35px;">
                                      <div class="gdlr-core-image-item-wrap gdlr-core-media-image  gdlr-core-image-item-style-rectangle" style="border-width: 0px;">
                                        <%= image_tag("mobile-icon.png", alt: "", width:"137", height: "101" )%>
                                       </div>
                                    </div>
                                  </div>
                                  <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" style="padding-bottom: 15px;">
                                      <div class="gdlr-core-title-item-title-wrap">
                                        <h3 class="gdlr-core-title-item-title gdlr-core-skin-title" style="font-size: 53px;letter-spacing: 0px;text-transform: none;">Works On Any Device</h3></div>
                                      </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element">
                                      <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" style="padding-bottom: 45px;">
                                        <div class="gdlr-core-title-item-title-wrap">
                                          <h3 class="gdlr-core-title-item-title gdlr-core-skin-title" style="font-size: 33px;letter-spacing: 0px;text-transform: none;color: #a3a3a3;">Like A Boss!</h3></div>
                                        </div>
                                      </div>
                                      <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align" style="padding-bottom: 20px;">
                                          <div class="gdlr-core-text-box-item-content" style="font-size: 16px;">
                                            <p>At SoftPort, we take pride in developing web applications that are fully responsive and compatible with any device. Whether your users access your application from a desktop computer, a tablet, or a mobile phone, we ensure that the experience is smooth and consistent.</p>
                                            <p>With our expertise in Ruby on Rails and React.js, we create web applications that automatically adjust their layout, content, and functionality based on the device being used. By implementing responsive design principles and utilizing the latest front-end technologies, we guarantee that your application will look and perform flawlessly across a wide range of devices and screen sizes.</p>
                                            <p>Our team of skilled developers carefully considers factors such as screen resolution, touch gestures, and user interaction patterns to deliver an intuitive and user-friendly experience on every device. We thoroughly test your application across various devices and browsers to ensure optimal performance and compatibility.</p>
                                            <p>With SoftPort, you can be confident that your web application will provide a consistent and engaging experience to your users, regardless of the device they use. Experience the power of Ruby on Rails and React.js in creating responsive and device-agnostic web applications that meet the needs of today's diverse user base.</p>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-button-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align"><a class="gdlr-core-button  gdlr-core-button-transparent gdlr-core-button-no-border" href="#" id="gdlr-core-button-id-14251"><span class="gdlr-core-content" >Learn More</span><i class="gdlr-core-pos-right fa fa-long-arrow-right"  ></i></a></div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="gdlr-core-pbf-wrapper " style="padding: 100px 0px 20px 0px;" data-skin="works" id="works">
                            <div class="gdlr-core-pbf-background-wrap">
                              <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js" style="background-image: url(<%= asset_path('work-bg.png')%>);background-repeat: repeat;background-position: center;" data-parallax-speed="0"></div>
                            </div>
                            <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                              <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                                <div class="gdlr-core-pbf-element">
                                  <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-center-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" style="padding-bottom: 7px;">
                                    <div class="gdlr-core-title-item-title-wrap">
                                      <h3 class="gdlr-core-title-item-title gdlr-core-skin-title" style="font-size: 58px;letter-spacing: 0px;text-transform: none;color: #ffffff;">Our Works.</h3></div>
                                    </div>
                                  </div>
                                  <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-divider-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-divider-item-normal" style="padding-bottom: 35px;">
                                      <div class="gdlr-core-divider-container gdlr-core-center-align" style="max-width: 47px;">
                                        <div class="gdlr-core-divider-line gdlr-core-skin-divider" style="border-color: #ffffff;border-bottom-width: 2px;"></div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="gdlr-core-pbf-column gdlr-core-column-60 gdlr-core-column-first">
                                    <div class="gdlr-core-pbf-column-content-margin gdlr-core-js " style="padding: 0px 0px 25px 0px;">
                                      <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js " style="max-width: 750px;">
                                        <div class="gdlr-core-pbf-element">
                                          <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-center-align">
                                            <div class="gdlr-core-text-box-item-content">
                                              <p>In our Works section, we showcase our expertise and highlight the exceptional projects we have delivered to our valued clients. Our team at SoftPort has worked on a diverse range of web development projects using Ruby on Rails and React.js, pushing the boundaries of what is possible in the digital world.</p>
                                              <p>From building robust e-commerce platforms to developing intuitive user interfaces, our portfolio demonstrates our ability to create scalable and innovative solutions. We have collaborated with clients across various industries, including finance, healthcare, technology, and more, helping them achieve their digital goals and drive their business forward.</p>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="gdlr-core-pbf-column gdlr-core-column-60 gdlr-core-column-first" data-skin="works">
                                    <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                      <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                        <div class="gdlr-core-pbf-element">
                                          <div class="gdlr-core-portfolio-item gdlr-core-item-pdb clearfix  gdlr-core-portfolio-item-style-modern">
                                            <div class="gdlr-core-portfolio-item-holder gdlr-core-js-2 clearfix" data-layout="fitrows">
                                              <div class="gdlr-core-item-list  gdlr-core-item-pdlr gdlr-core-item-mgb gdlr-core-column-15 gdlr-core-column-first">
                                                <div class="gdlr-core-portfolio-modern">
                                                  <div class="gdlr-core-portfolio-thumbnail gdlr-core-media-image  gdlr-core-style-icon-title_bottom">
                                                    <div class="gdlr-core-portfolio-thumbnail-image-wrap  gdlr-core-zoom-on-hover"><%= image_tag "apps-screen-work.jpg", alt: "", width: "700", height: "880"%>
                                                      <span class="gdlr-core-image-overlay  gdlr-core-portfolio-overlay gdlr-core-image-overlay-center-icon gdlr-core-js" style="background: rgba(10, 10, 10, 0.8) ;"><span class="gdlr-core-image-overlay-content" ><span class="gdlr-core-portfolio-icon-wrap" ><a class="gdlr-core-ilightbox gdlr-core-js " href="assets/apps-screen.jpg" data-ilightbox-group="gdlr-core-img-group-1"><i class="gdlr-core-portfolio-icon fa fa-search" ></i></a></span></span><span class="gdlr-core-portfolio-title gdlr-core-title-font" style="font-size: 21px;font-weight: 800;letter-spacing: 0px;text-transform: none;"><a href="#" >Bakery Packaging</a></span></span>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="gdlr-core-item-list  gdlr-core-item-pdlr gdlr-core-item-mgb gdlr-core-column-15">
                                                <div class="gdlr-core-portfolio-modern">
                                                  <div class="gdlr-core-portfolio-thumbnail gdlr-core-media-image  gdlr-core-style-icon-title_bottom">
                                                    <div class="gdlr-core-portfolio-thumbnail-image-wrap  gdlr-core-zoom-on-hover">
                                                      <%= image_tag "003-work.jpg", alt: "", width: "700", height: "880"%>
                                                      <span class="gdlr-core-image-overlay  gdlr-core-portfolio-overlay gdlr-core-image-overlay-center-icon gdlr-core-js" style="background: rgba(10, 10, 10, 0.8) ;"><span class="gdlr-core-image-overlay-content" ><span class="gdlr-core-portfolio-icon-wrap" ><a class="gdlr-core-ilightbox gdlr-core-js " href="assets/003.jpg" data-ilightbox-group="gdlr-core-img-group-1"><i class="gdlr-core-portfolio-icon fa fa-search" ></i></a></span></span><span class="gdlr-core-portfolio-title gdlr-core-title-font" style="font-size: 21px;font-weight: 800;letter-spacing: 0px;text-transform: none;"><a href="#" >Corporate Identity</a></span></span>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="gdlr-core-item-list  gdlr-core-item-pdlr gdlr-core-item-mgb gdlr-core-column-15">
                                                <div class="gdlr-core-portfolio-modern">
                                                  <div class="gdlr-core-portfolio-thumbnail gdlr-core-media-image  gdlr-core-style-icon-title_bottom">
                                                    <div class="gdlr-core-portfolio-thumbnail-image-wrap  gdlr-core-zoom-on-hover">
                                                      <%= image_tag "applewatch1.jpg", alt: "", width: "700", height: "880"%>


                                                      <span class="gdlr-core-image-overlay  gdlr-core-portfolio-overlay gdlr-core-image-overlay-center-icon gdlr-core-js" style="background: rgba(10, 10, 10, 0.8) ;"><span class="gdlr-core-image-overlay-content" ><span class="gdlr-core-portfolio-icon-wrap" ><a class="gdlr-core-ilightbox gdlr-core-js " href="assets/applewatch.jpg" data-ilightbox-group="gdlr-core-img-group-1"><i class="gdlr-core-portfolio-icon fa fa-search" ></i></a></span></span><span class="gdlr-core-portfolio-title gdlr-core-title-font" style="font-size: 21px;font-weight: 800;letter-spacing: 0px;text-transform: none;"><a href="#" >Watch App</a></span></span>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="gdlr-core-item-list  gdlr-core-item-pdlr gdlr-core-item-mgb gdlr-core-column-15">
                                                <div class="gdlr-core-portfolio-modern">
                                                  <div class="gdlr-core-portfolio-thumbnail gdlr-core-media-image  gdlr-core-style-icon-title_bottom">
                                                    <div class="gdlr-core-portfolio-thumbnail-image-wrap  gdlr-core-zoom-on-hover">
                                                      <%= image_tag "Medium-cup.jpg", alt: "", width:"700", height:"880"%>
                                                      <span class="gdlr-core-image-overlay  gdlr-core-portfolio-overlay gdlr-core-image-overlay-center-icon gdlr-core-js" style="background: rgba(10, 10, 10, 0.8) ;"><span class="gdlr-core-image-overlay-content" ><span class="gdlr-core-portfolio-icon-wrap" ><a class="gdlr-core-ilightbox gdlr-core-js " href="assets/Medium-cup.jpg" data-ilightbox-group="gdlr-core-img-group-1"><i class="gdlr-core-portfolio-icon fa fa-search" ></i></a></span></span><span class="gdlr-core-portfolio-title gdlr-core-title-font" style="font-size: 21px;font-weight: 800;letter-spacing: 0px;text-transform: none;"><a href="#" >Coffe Cup</a></span></span>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="gdlr-core-item-list  gdlr-core-item-pdlr gdlr-core-item-mgb gdlr-core-column-15 gdlr-core-column-first">
                                                <div class="gdlr-core-portfolio-modern">
                                                  <div class="gdlr-core-portfolio-thumbnail gdlr-core-media-image  gdlr-core-style-icon-title_bottom">
                                                    <div class="gdlr-core-portfolio-thumbnail-image-wrap  gdlr-core-zoom-on-hover">
                                                      <%= image_tag "017-work.jpg", alt: "", width: "700", height: "880"%>

                                                      <span class="gdlr-core-image-overlay  gdlr-core-portfolio-overlay gdlr-core-image-overlay-center-icon gdlr-core-js" style="background: rgba(10, 10, 10, 0.8) ;"><span class="gdlr-core-image-overlay-content" ><span class="gdlr-core-portfolio-icon-wrap" ><a class="gdlr-core-ilightbox gdlr-core-js " href="assets/017-only-available-in-full-version.jpg" data-ilightbox-group="gdlr-core-img-group-1"><i class="gdlr-core-portfolio-icon fa fa-search" ></i></a></span></span><span class="gdlr-core-portfolio-title gdlr-core-title-font" style="font-size: 21px;font-weight: 800;letter-spacing: 0px;text-transform: none;"><a href="#" >Minimal Package Design</a></span></span>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="gdlr-core-item-list  gdlr-core-item-pdlr gdlr-core-item-mgb gdlr-core-column-15">
                                                <div class="gdlr-core-portfolio-modern">
                                                  <div class="gdlr-core-portfolio-thumbnail gdlr-core-media-image  gdlr-core-style-icon-title_bottom">
                                                    <div class="gdlr-core-portfolio-thumbnail-image-wrap  gdlr-core-zoom-on-hover">
                                                      <%= image_tag "Scene-27-work.jpg", alt: "", width: "700",height: "880"%>


                                                      <span class="gdlr-core-image-overlay  gdlr-core-portfolio-overlay gdlr-core-image-overlay-center-icon gdlr-core-js" style="background: rgba(10, 10, 10, 0.8) ;"><span class="gdlr-core-image-overlay-content" ><span class="gdlr-core-portfolio-icon-wrap" ><a class="gdlr-core-ilightbox gdlr-core-js " href="assets/Scene-27.jpg" data-ilightbox-group="gdlr-core-img-group-1"><i class="gdlr-core-portfolio-icon fa fa-search" ></i></a></span></span><span class="gdlr-core-portfolio-title gdlr-core-title-font" style="font-size: 21px;font-weight: 800;letter-spacing: 0px;text-transform: none;"><a href="#" >Car Marketing</a></span></span>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="gdlr-core-item-list  gdlr-core-item-pdlr gdlr-core-item-mgb gdlr-core-column-15">
                                                <div class="gdlr-core-portfolio-modern">
                                                  <div class="gdlr-core-portfolio-thumbnail gdlr-core-media-image  gdlr-core-style-icon-title_bottom">
                                                    <div class="gdlr-core-portfolio-thumbnail-image-wrap  gdlr-core-zoom-on-hover">
                                                      <%= image_tag "ipadpro-work.jpg", alt: "", width: "700", height: "880"%>
                                                      <span class="gdlr-core-image-overlay  gdlr-core-portfolio-overlay gdlr-core-image-overlay-center-icon gdlr-core-js" style="background: rgba(10, 10, 10, 0.8) ;"><span class="gdlr-core-image-overlay-content" ><span class="gdlr-core-portfolio-icon-wrap" ><a class="gdlr-core-ilightbox gdlr-core-js " href="assets/ipadpro.jpg" data-ilightbox-group="gdlr-core-img-group-1"><i class="gdlr-core-portfolio-icon fa fa-search" ></i></a></span></span><span class="gdlr-core-portfolio-title gdlr-core-title-font" style="font-size: 21px;font-weight: 800;letter-spacing: 0px;text-transform: none;"><a href="#" >iPad Pro Mockup</a></span></span>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="gdlr-core-item-list  gdlr-core-item-pdlr gdlr-core-item-mgb gdlr-core-column-15">
                                                <div class="gdlr-core-portfolio-modern">
                                                  <div class="gdlr-core-portfolio-thumbnail gdlr-core-media-image  gdlr-core-style-icon-title_bottom">
                                                    <div class="gdlr-core-portfolio-thumbnail-image-wrap  gdlr-core-zoom-on-hover"><%= image_tag "white-mockup-work.jpg", alt: "", width: "700", height: "880" %>
                                                      <span class="gdlr-core-image-overlay  gdlr-core-portfolio-overlay gdlr-core-image-overlay-center-icon gdlr-core-js" style="background: rgba(10, 10, 10, 0.8) ;"><span class="gdlr-core-image-overlay-content" ><span class="gdlr-core-portfolio-icon-wrap" ><a class="gdlr-core-ilightbox gdlr-core-js " href="assets/white-mockup.jpg" data-ilightbox-group="gdlr-core-img-group-1"><i class="gdlr-core-portfolio-icon fa fa-search" ></i></a></span></span><span class="gdlr-core-portfolio-title gdlr-core-title-font" style="font-size: 21px;font-weight: 800;letter-spacing: 0px;text-transform: none;"><a href="#" >The White Workspace</a></span></span>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="gdlr-core-load-more-wrap gdlr-core-js gdlr-core-center-align gdlr-core-item-pdlr" data-ajax="gdlr_core_portfolio_ajax" data-ajax-name="paged" data-ajax-value="2">Load More</a></div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="gdlr-core-pbf-wrapper " style="padding: 100px 0px 30px 0px;" id="about">
                              <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                                <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                                  <div class="gdlr-core-pbf-column gdlr-core-column-30 gdlr-core-column-first">
                                    <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                      <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                        <div class="gdlr-core-pbf-element">
                                          <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" style="padding-bottom: 60px;">
                                            <div class="gdlr-core-title-item-title-wrap">
                                              <h3 class="gdlr-core-title-item-title gdlr-core-skin-title" style="font-size: 65px;letter-spacing: 0px;text-transform: none;">About Us.
                                                <span class="gdlr-core-title-item-side-border gdlr-core-skin-divider gdlr-core-right" style="border-color: #38bedc;"></span>
                                              </h3>
                                            </div>
                                          </div>
                                        </div>


                                        <div class="gdlr-core-pbf-element">
                                          <div class="gdlr-core-skill-bar-item gdlr-core-item-pdlr gdlr-core-item-pdb  gdlr-core-size-small gdlr-core-type-round">
                                            <p>SoftPort is a leading IT company that specializes in delivering cutting-edge software solutions to empower businesses and organizations worldwide. With a passion for innovation and a commitment to excellence, we provide a comprehensive range of services that encompass web development, mobile applications, IT consulting, and more.</p>
                                            <p>Our team of highly skilled professionals brings together diverse expertise and a deep understanding of the latest technologies to deliver exceptional results. We combine creativity, technical proficiency, and strategic thinking to develop tailored solutions that address our clients' unique challenges and drive their success.</p>
                                            <p>At SoftPort, we value collaboration and transparency. We believe that building strong partnerships with our clients is the key to achieving remarkable outcomes. We work closely with you, actively involving you in every step of the process, from initial concept to final implementation. Our iterative approach ensures that your vision is realized, and your goals are met.</p> <p>With a client-centric approach, we prioritize customer satisfaction above all else. We listen to your needs, understand your business objectives, and strive to exceed your expectations. Our team is dedicated to delivering high-quality solutions on time and within budget, ensuring that your investment in technology yields tangible and measurable results.</p>
                                          </div>
                                        </div>
                                        <div class="gdlr-core-pbf-element">
                                          <div class="gdlr-core-skill-bar-item gdlr-core-item-pdlr gdlr-core-item-pdb  gdlr-core-size-small gdlr-core-type-round">
                                            <div class="gdlr-core-skill-bar">
                                              <div class="gdlr-core-skill-bar-head gdlr-core-title-font"><span class="gdlr-core-skill-bar-title">ROR</span><span class="gdlr-core-skill-bar-right">95%</span></div>
                                              <div class="gdlr-core-skill-bar-progress">
                                                <div class="gdlr-core-skill-bar-filled gdlr-core-js" data-width="95" style="background-color: #2b2b2b ;"></div>
                                              </div>
                                            </div>
                                            <div class="gdlr-core-skill-bar">
                                              <div class="gdlr-core-skill-bar-head gdlr-core-title-font"><span class="gdlr-core-skill-bar-title">React</span><span class="gdlr-core-skill-bar-right">85%</span></div>
                                              <div class="gdlr-core-skill-bar-progress">
                                                <div class="gdlr-core-skill-bar-filled gdlr-core-js" data-width="85" style="background-color: #2b2b2b ;"></div>
                                              </div>
                                            </div>
                                            <div class="gdlr-core-skill-bar">
                                              <div class="gdlr-core-skill-bar-head gdlr-core-title-font"><span class="gdlr-core-skill-bar-title">API</span><span class="gdlr-core-skill-bar-right">95%</span></div>
                                              <div class="gdlr-core-skill-bar-progress">
                                                <div class="gdlr-core-skill-bar-filled gdlr-core-js" data-width="95" style="background-color: #2b2b2b ;"></div>
                                              </div>
                                            </div>
                                            <div class="gdlr-core-skill-bar">
                                              <div class="gdlr-core-skill-bar-head gdlr-core-title-font"><span class="gdlr-core-skill-bar-title">Consulting</span><span class="gdlr-core-skill-bar-right">95%</span></div>
                                              <div class="gdlr-core-skill-bar-progress">
                                                <div class="gdlr-core-skill-bar-filled gdlr-core-js" data-width="95" style="background-color: #2b2b2b ;"></div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="gdlr-core-pbf-column gdlr-core-column-30" data-skin="about quote">
                                    <div class="gdlr-core-pbf-column-content-margin gdlr-core-js  gdlr-core-column-extend-right" style="margin: 0px 0px 0px 20px;padding: 760px 0px 0px 80px;">
                                      <div class="gdlr-core-pbf-background-wrap">
                                        <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js" style="background-image: url(<%= asset_path('browser-right-1.jpg')%>);background-repeat: no-repeat;background-position: top left;" data-parallax-speed="0"></div>
                                      </div>
                                      <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                        <div class="gdlr-core-pbf-element">
                                          <div class="gdlr-core-blockquote-item gdlr-core-item-pdlr gdlr-core-item-pdb  gdlr-core-left-align gdlr-core-large-size">
                                            <div class="gdlr-core-blockquote gdlr-core-info-font">
                                              <div class="gdlr-core-blockquote-item-quote gdlr-core-quote-font gdlr-core-skin-icon">&#8220;</div>
                                              <div class="gdlr-core-blockquote-item-content-wrap">
                                                <div class="gdlr-core-blockquote-item-content gdlr-core-skin-content">
                                                  <p>At SoftPort, we thrive on the challenge of creating web applications that not only deliver exceptional user experiences but also redefine what is possible in the online realm.</p>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                              <div class="gdlr-core-pbf-wrapper " style="padding: 120px 0px 90px 0px;" data-skin="blog" id="news">
                                <div class="gdlr-core-pbf-background-wrap">
                                  <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js" style="background-image: url(<%= asset_path('blog-bg.jpg')%>);background-size: cover;background-position: center;" data-parallax-speed="0.3"></div>
                                </div>
                                <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                                  <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                                    <div class="gdlr-core-pbf-element">
                                      <div class="gdlr-core-blog-item gdlr-core-item-pdb clearfix  gdlr-core-style-blog-column gdlr-core-item-pdlr" style="padding-bottom: 40px;">
                                        <div class="gdlr-core-block-item-title-wrap  gdlr-core-left-align gdlr-core-caption-right gdlr-core-with-nav">
                                          <h3 class="gdlr-core-block-item-title" style="font-size: 58px;text-transform: none;width: 510px;">Recent News</h3>
                                          <div class="gdlr-core-block-item-caption gdlr-core-info-font gdlr-core-skin-caption" style="font-style: normal;padding-top: 15px;">
                                            <div class="gdlr-core-block-item-read-more-wrap"><a class="gdlr-core-block-item-read-more" href="http://demo.goodlayers.com/onepagepro/blog-full-right-sidebar-with-frame/" target="_blank" style="font-size: 16px;color: #ffffff;"></a></div>
                                          </div>
                                          <div class="gdlr-core-flexslider-nav gdlr-core-plain-circle-style gdlr-core-absolute gdlr-core-right" style="padding-top: 15px;"></div>
                                        </div>
                                        <div class="gdlr-core-flexslider flexslider gdlr-core-js-2 " data-type="carousel" data-column="3" data-nav="navigation" data-nav-parent="gdlr-core-blog-item" data-disable-autoslide="1">
                                          <ul class="slides">
                                            <% @news.first(10).each do |news| %>
                                            <li class="gdlr-core-item-mglr">
                                              <div class="gdlr-core-blog-grid ">
                                                <div class="gdlr-core-blog-thumbnail gdlr-core-media-image  gdlr-core-opacity-on-hover gdlr-core-zoom-on-hover news-image">
                                                  <%= link_to news&.url, target: '_blank' do %>
                                                  <%= image_tag news&.urlToImage, alt: "", width:"700", height: "500"%>

                                                  <% end %>
                                                </div>
                                                <div class="gdlr-core-blog-grid-content-wrap gdlr-core-js" data-sync-height="blog-grid-content-wrap">
                                                  <h3 class="gdlr-core-blog-title gdlr-core-skin-title" style="font-size: 22px;font-weight: 700;letter-spacing: 0px;"><a href="#" ><%= news&.title %></a></h3>
                                                  <div class="gdlr-core-blog-info-wrapper gdlr-core-skin-divider"><span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-date"><span class="gdlr-core-head" ><i class="fa fa-clock-o"></i></span><a href="#"><%= news&.publishedAt.to_time.strftime('%b %d, %Y')%></a></span><span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-author"><span class="gdlr-core-head" ><i class="fa fa-pencil"></i></span><a href="#" title="Posts by superuser" rel="author"><%= news&.author %></a></span><span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-category"><span class="gdlr-core-head" ><i class="fa fa-folder-o"></i></span><a href="#" rel="tag">Technology</a></span>
                                                  </div>
                                                  <div class="gdlr-core-blog-content"><%= truncate news&.content&.html_safe, length: 90, separator: /\w+/ %>
                                                  </div>
                                                </div>
                                              </li>
                                              <% end %>
                                            </ul>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="gdlr-core-pbf-wrapper " style="padding: 90px 0px 60px 0px;" data-skin="testimonial">
                                  <div class="gdlr-core-pbf-background-wrap" style="background-color: #f5f5f5 ;"></div>
                                  <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                                    <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                                      <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-testimonial-item gdlr-core-item-pdb clearfix  gdlr-core-testimonial-style-left gdlr-core-item-pdlr">
                                          <div class="gdlr-core-testimonial-item-title-wrap " style="margin-bottom: 40px;">
                                            <h3 class="gdlr-core-testimonial-item-title" style="font-size: 56px;text-transform: none;letter-spacing: 0px;"><span class="gdlr-core-title-item-side-border gdlr-core-skin-divider gdlr-core-left" style="border-color: #38bddc;"  ></span>Testimonial .</h3>
                                            <div class="gdlr-core-flexslider-nav gdlr-core-plain-circle-style gdlr-core-absolute-center gdlr-core-right"></div>
                                          </div>
                                          <div class="gdlr-core-flexslider flexslider gdlr-core-js-2 " data-type="carousel" data-column="3" data-nav="navigation" data-nav-parent="gdlr-core-testimonial-item" data-disable-autoslide="1">
                                            <ul class="slides">
                                              <li class="gdlr-core-item-mglr">
                                                <div class="gdlr-core-testimonial clearfix">
                                                  <div class="gdlr-core-testimonial-quote gdlr-core-quote-font">&#8220;</div>
                                                  <div class="gdlr-core-testimonial-content-wrap">
                                                    <div class="gdlr-core-testimonial-content gdlr-core-info-font gdlr-core-skin-content" style="font-size: 16px;">
                                                      <p>Working with SoftPort has been an absolute pleasure. Their team's expertise in Ruby on Rails and React.js helped us build a robust and user-friendly web application. They delivered exceptional results within the agreed timeframe, and their attention to detail surpassed our expectations. Highly recommended!</p>
                                                    </div>
                                                    <div class="gdlr-core-testimonial-author-wrap clearfix">
                                                      <div class="gdlr-core-testimonial-author-image gdlr-core-media-image">
                                                        <%= image_tag "user-male.webp", alt:"", width:"150", height:"150" %>
                                                      </div>
                                                      <div class="gdlr-core-testimonial-author-content">
                                                        <div class="gdlr-core-testimonial-title gdlr-core-title-font gdlr-core-skin-title">John Smith</div>
                                                        <div class="gdlr-core-testimonial-position gdlr-core-info-font gdlr-core-skin-caption">CEO Of Radiopedia</div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </li>
                                              <li class="gdlr-core-item-mglr">
                                                <div class="gdlr-core-testimonial clearfix">
                                                  <div class="gdlr-core-testimonial-quote gdlr-core-quote-font">&#8220;</div>
                                                  <div class="gdlr-core-testimonial-content-wrap">
                                                    <div class="gdlr-core-testimonial-content gdlr-core-info-font gdlr-core-skin-content" style="font-size: 16px;">
                                                      <p>SoftPort has been our trusted IT partner for years, and they consistently deliver outstanding results. Their professionalism, technical proficiency, and dedication to customer satisfaction are unparalleled. From web development to backend API integration, they have exceeded our expectations time and time again. We look forward to continuing our successful partnership with SoftPort.</p>
                                                    </div>
                                                    <div class="gdlr-core-testimonial-author-wrap clearfix">
                                                      <div class="gdlr-core-testimonial-author-image gdlr-core-media-image"><%= image_tag "user-female.webp", alt:"", width:"150", height:"150"%>

                                                      </div>
                                                      <div class="gdlr-core-testimonial-author-content">
                                                        <div class="gdlr-core-testimonial-title gdlr-core-title-font gdlr-core-skin-title">Sarah Johnson</div>
                                                        <div class="gdlr-core-testimonial-position gdlr-core-info-font gdlr-core-skin-caption">CTO of 1000Farmacie</div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </li>
                                              <li class="gdlr-core-item-mglr">
                                                <div class="gdlr-core-testimonial clearfix">
                                                  <div class="gdlr-core-testimonial-quote gdlr-core-quote-font">&#8220;</div>
                                                  <div class="gdlr-core-testimonial-content-wrap">
                                                    <div class="gdlr-core-testimonial-content gdlr-core-info-font gdlr-core-skin-content" style="font-size: 16px;">
                                                      <p>Choosing SoftPort for our web development needs was one of the best decisions we made. Their team's in-depth knowledge of Ruby on Rails and React.js resulted in a high-quality, scalable, and visually stunning application. They communicated effectively throughout the entire process and provided excellent support post-launch. We couldn't be happier with the results</p>
                                                    </div>
                                                    <div class="gdlr-core-testimonial-author-wrap clearfix">
                                                      <div class="gdlr-core-testimonial-author-image gdlr-core-media-image">
                                                        <%= image_tag "user-male.webp", alt:"", width:"150", height:"150" %>
                                                      </div>
                                                      <div class="gdlr-core-testimonial-author-content">
                                                        <div class="gdlr-core-testimonial-title gdlr-core-title-font gdlr-core-skin-title">Mark Thompson</div>
                                                        <div class="gdlr-core-testimonial-position gdlr-core-info-font gdlr-core-skin-caption">Founder of DEF Startups</div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </li>
                                              <li class="gdlr-core-item-mglr">
                                                <div class="gdlr-core-testimonial clearfix">
                                                  <div class="gdlr-core-testimonial-quote gdlr-core-quote-font">&#8220;</div>
                                                  <div class="gdlr-core-testimonial-content-wrap">
                                                    <div class="gdlr-core-testimonial-content gdlr-core-info-font gdlr-core-skin-content" style="font-size: 16px;">
                                                      <p>SoftPort's consulting services have been invaluable in guiding our digital transformation journey. Their consultants brought a wealth of experience and provided strategic advice that has helped us make informed decisions. Their dedication, professionalism, and commitment to our success have made them a trusted partner in our business growth.</p>
                                                    </div>
                                                    <div class="gdlr-core-testimonial-author-wrap clearfix">
                                                      <div class="gdlr-core-testimonial-author-image gdlr-core-media-image"><%= image_tag "user-female.webp", alt: "", width:"150", height:"150"%>
                                                      </div>
                                                      <div class="gdlr-core-testimonial-author-content">
                                                        <div class="gdlr-core-testimonial-title gdlr-core-title-font gdlr-core-skin-title">Emily Davis</div>
                                                        <div class="gdlr-core-testimonial-position gdlr-core-info-font gdlr-core-skin-caption">Director of Operations at GHI Enterprises</div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </li>
                                              <li class="gdlr-core-item-mglr">
                                                <div class="gdlr-core-testimonial clearfix">
                                                  <div class="gdlr-core-testimonial-quote gdlr-core-quote-font">&#8220;</div>
                                                  <div class="gdlr-core-testimonial-content-wrap">
                                                    <div class="gdlr-core-testimonial-content gdlr-core-info-font gdlr-core-skin-content" style="font-size: 16px;">
                                                      <p>We are extremely impressed with SoftPort's expertise in backend API development using Ruby on Rails. They designed and implemented a highly efficient and secure API that seamlessly integrated with our frontend systems. Their attention to detail and commitment to delivering a high-performance solution have greatly contributed to our business success.</p>
                                                    </div>
                                                    <div class="gdlr-core-testimonial-author-wrap clearfix">
                                                      <div class="gdlr-core-testimonial-author-image gdlr-core-media-image">

                                                      <%= image_tag "user-male.webp", alt: "", width: "150", height: "150"%>

                                                      </div>
                                                      <div class="gdlr-core-testimonial-author-content">
                                                        <div class="gdlr-core-testimonial-title gdlr-core-title-font gdlr-core-skin-title">David Wilson</div>
                                                        <div class="gdlr-core-testimonial-position gdlr-core-info-font gdlr-core-skin-caption">Head of Engineering at JKL Solutions</div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </li>
                                            </ul>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="gdlr-core-pbf-wrapper " style="padding: 90px 0px 90px 0px;" data-skin="contact" id="contact">
                                  <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                                    <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                                      <div class="gdlr-core-pbf-column gdlr-core-column-15 gdlr-core-column-first">
                                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js " style="padding: 5px 0px 0px 0px;">
                                          <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                            <div class="gdlr-core-pbf-element">
                                              <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" style="padding-bottom: 45px;">
                                                <div class="gdlr-core-title-item-title-wrap">
                                                  <h3 class="gdlr-core-title-item-title gdlr-core-skin-title" style="font-size: 23px;font-weight: 400;letter-spacing: 0px;text-transform: none;">Information</h3></div>
                                                </div>
                                              </div>
                                              <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-icon-list-item gdlr-core-item-pdlr gdlr-core-item-pdb ">
                                                  <ul>
                                                    <li class=" gdlr-core-skin-divider" style="margin-bottom: 20px;"><span class="gdlr-core-icon-list-icon-wrap"><i class="gdlr-core-icon-list-icon icon_pin_alt" style="font-size: 16px;width: 16px;" ></i></span><span class="gdlr-core-icon-list-content" style="font-size: 15px;">12 King Street, Buckingham</span></li>
                                                    <li class=" gdlr-core-skin-divider" style="margin-bottom: 20px;"><a href="#"><span class="gdlr-core-icon-list-icon-wrap"  ><i class="gdlr-core-icon-list-icon icon_mail_alt" style="font-size: 16px;width: 16px;" ></i></span><span class="gdlr-core-icon-list-content" style="font-size: 15px;"  >Talk@OnePageProTheme.com</span></a></li>
                                                    <li class=" gdlr-core-skin-divider" style="margin-bottom: 20px;"><span class="gdlr-core-icon-list-icon-wrap"><i class="gdlr-core-icon-list-icon icon_phone" style="font-size: 16px;width: 16px;" ></i></span><span class="gdlr-core-icon-list-content" style="font-size: 15px;">Phone : +(44) 2454 2345 2</span></li>
                                                    <li class=" gdlr-core-skin-divider" style="margin-bottom: 20px;"><span class="gdlr-core-icon-list-icon-wrap"><i class="gdlr-core-icon-list-icon icon_document_alt" style="font-size: 16px;width: 16px;" ></i></span><span class="gdlr-core-icon-list-content" style="font-size: 15px;">Fax : +(44) 2454 2345 2</span></li>
                                                  </ul>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="gdlr-core-pbf-column gdlr-core-column-45">
                                          <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                              <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" style="padding-bottom: 25px;">
                                                  <div class="gdlr-core-title-item-title-wrap">
                                                    <h3 class="gdlr-core-title-item-title gdlr-core-skin-title" style="font-size: 35px;letter-spacing: 0px;text-transform: none;">Contact Form.</h3></div>
                                                  </div>
                                                </div>
                                                <div class="gdlr-core-pbf-element">
                                                  <div class="gdlr-core-contact-form-7-item gdlr-core-item-pdlr gdlr-core-item-pdb ">
                                                    <div role="form" class="wpcf7" id="wpcf7-f5-p3999-o1" lang="en-US" dir="ltr">
                                                      <div class="screen-reader-response"></div>
                                                      <form class="quform" action="quform/process.php" method="post" enctype="multipart/form-data" onclick="">

                                                        <div class="quform-elements gdlr-core-input-wrap gdlr-core-full-width gdlr-core-with-column gdlr-core-bottom-border">
                                                          <div class="gdlr-core-column-60">
                                                            <span class="quform-element">
                                                              <input id="name" type="text" name="name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Full Name*" />
                                                            </span>
                                                          </div>

                                                          <div class="gdlr-core-column-60">
                                                            <span class="quform-element">
                                                              <input id="email" type="text" name="email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Email*" />
                                                            </span>
                                                          </div>
                                                          <div class="clear"></div>

                                                          <div class="gdlr-core-column-60">
                                                            <span class="quform-element">
                                                              <textarea  id="message" name="message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Message*"></textarea>
                                                            </span>
                                                          </div>
                                                          <div class="gdlr-core-column-60">
                                                            <div class="quform-submit">
                                                              <div class="quform-submit-inner">
                                                                <button type="submit" disabled class="submit-button" style="pointer-events: none;"><span><em>Submit Now</em></span></button>
                                                              </div>
                                                              <div class="quform-loading-wrap"><span class="quform-loading"></span></div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </form>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <footer>
                                  <div class="onepagepro-footer-wrapper">
                                    <div class="onepagepro-footer-background"></div>
                                    <div class="onepagepro-footer-container onepagepro-container clearfix">
                                      <div class="onepagepro-footer-column onepagepro-item-pdlr onepagepro-column-20">
                                        <div id="gdlr-core-recent-portfolio-widget-2" class="widget widget_gdlr-core-recent-portfolio-widget onepagepro-widget">
                                          <h3 class="onepagepro-widget-title"><span class="onepagepro-widget-head-text">Our Services</span><span class="onepagepro-widget-head-divider"></span></h3><span class="clear"></span>
                                          <div class="gdlr-core-recent-portfolio-widget-wrap clearfix">
                                            <ul class="list-unstyled small mb-0 mb-md-1">
                                              <li>
                                                <a href="/#services">
                                                  Web Development In Ruby on Rails
                                                </a>
                                              </li>

                                              <li>
                                                <a href="/#services">
                                                  Web Development On React.js
                                                </a>
                                              </li>

                                              <li>
                                                <a href="/#services">
                                                  Consulting
                                                </a>
                                              </li>

                                              <li>
                                                <a href="/#services">
                                                  Backend API Development In ROR
                                                </a>
                                              </li>
                                            </ul>

                                          </div>
                                        </div>
                                      </div>
                                      <div class="onepagepro-footer-column onepagepro-item-pdlr onepagepro-column-20">
                                        <div id="gdlr-core-recent-post-widget-2" class="widget widget_gdlr-core-recent-post-widget onepagepro-widget">
                                          <h3 class="onepagepro-widget-title"><span class="onepagepro-widget-head-text">Recent News</span><span class="onepagepro-widget-head-divider"></span></h3><span class="clear"></span>
                                          <div class="gdlr-core-recent-post-widget-wrap gdlr-core-style-1">
                                            <% @news.last(3).each do |news| %>
                                            <div class="gdlr-core-recent-post-widget clearfix">
                                              <div class="gdlr-core-recent-post-widget-thumbnail gdlr-core-media-image">
                                                <%= image_tag news&.urlToImage, alt:"", width:"150", height:"150"%></div>
                                              <div class="gdlr-core-recent-post-widget-content">
                                                <div class="gdlr-core-recent-post-widget-title"><a href="<%= news&.url %>" target="_blank"> <%= news&.title %></a></div>
                                                <div class="gdlr-core-recent-post-widget-info"><span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-date"><span class="gdlr-core-head" ><i class="fa fa-clock-o"></i></span><a href="#"><%= news&.publishedAt.to_time.strftime('%b %d, %Y')%></a></span><span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-author"><span class="gdlr-core-head" ><i class="fa fa-pencil"></i></span><a href="#" title="Posts by superuser" rel="author"><%= news&.author%></a></span>
                                                </div>
                                              </div>
                                            </div>
                                            <% end %>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="onepagepro-footer-column onepagepro-item-pdlr onepagepro-column-20">
                                        <div id="text-2" class="widget widget_text onepagepro-widget">
                                          <h3 class="onepagepro-widget-title"><span class="onepagepro-widget-head-text">About Us</span><span class="onepagepro-widget-head-divider"></span></h3><span class="clear"></span>
                                          <div class="textwidget">
                                            <p>SoftPort is a leading IT company that specializes in delivering cutting-edge software solutions to empower businesses and organizations worldwide. With a passion for innovation and a commitment to excellence, we provide a comprehensive range of services that encompass web development, mobile applications, IT consulting, and more.</p>
                                            <p><strong>At SoftPort, we value collaboration and transparency. We believe that building strong partnerships with our clients is the key to achieving remarkable outcomes. We work closely with you, actively involving you in every step of the process, from initial concept to final implementation. Our iterative approach ensures that your vision is realized, and your goals are met.</strong></p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="onepagepro-copyright-wrapper">
                                    <div class="onepagepro-copyright-container onepagepro-container">
                                      <div class="onepagepro-copyright-text onepagepro-item-pdlr">Copyright 2020 SoftPort Technologies, All Right Reserved</div>
                                    </div>
                                  </div>
                                </footer>
                              </div>
                            </div>
